<div class="my-5" id="about">
  <h2 class="text-center">¡Servicios de calidad y <br> credibilidad!</h2> <hr class="linea">
  <h5 class="text-center py-3">Contamos con el apoyo gubernamental local y naciona
                               <br>para una efectiva entrega de contenidos y clases de calidad certificadas.</h5>
  <div class="row MinTIC">
    <img src="assets/Logos/MinTIC.png" class="card-img-top" width="50%" walt="Logo">
  </div>
  <div class="row container my-4">
    <div class="col-md-3 py-3">
      <img src="assets/Logos/Subtraction 4.png" class="card-img-top" width="50%" walt="Logo">
    </div>
    <div class="col-md-3 py-3">
      <img src="assets/Logos/customLogo.png" class="card-img-top" width="50%" walt="Logo">
    </div>
    <div class="col-md-3 py-3">
      <img src="assets/Logos/appsCO.png" class="card-img-top" width="50%" walt="Logo">
    </div>
    <div class="col-md-3 py-3">
      <img src="assets/Logos/todos.png" class="card-img-top" width="50%" walt="Logo">
    </div>
  </div>
</div>
