<div class="my-5">
  <h2 class="text-center" id="tarjet">¡Tenemos planes para <br> todos los presupuestos!</h2> <hr class="linea">
  <h5 class="text-center py-3">Adicional a la calidad y metodologia ágil implementada,
                               <br> puedes elegir el tiempo que necesitan tus hijos:</h5>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
        <div class="cabeza1">
          <h2>{{precio1}}</h2>
          <h5>{{mun_plan1}}</h5>
        </div>
        <div class="info1">
          <h5>1</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
          <ul>
            <li>Tips Academicos</li>
            <li>Clases programadas</li>
            <li><a href="#">-Más informacion</a></li>
          </ul>
        </div>
        <div class="pie1">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
        </div>
      </div>
      <div class="col-md-4">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
        <div class="cabeza1">
          <h2>{{precio1}}</h2>
          <h5>{{num_plan2}}</h5>
        </div>
        <div class="info1">
          <h5>4</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
          <ul>
            <li>Tips Academicos</li>
            <li>Clases programadas</li>
            <li><a href="#">-Más informacion</a></li>
          </ul>
        </div>
        <div class="pie1">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
        </div>
      </div>
      <div class="col-md-4">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
        <div class="cabeza1">
          <h2>{{precio1}}</h2>
          <h5>{{num_plan3}}</h5>
        </div>
        <div class="info1">
          <h5>8</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
          <ul>
            <li>Tips Academicos</li>
            <li>Clases programadas</li>
            <li><a href="#">-Más informacion</a></li>
          </ul>
        </div>
        <div class="pie1">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
        </div>
      </div>
    </div>
  </div>
  <div class="row float-right">
    <div class="col-md-4">
      <div class="cabeza">
        <img src="assets/recursos/discount.png" class="" height="10%" alt="Logo">
      </div>
      <div class="subcabeza">
        <h2>{{precio1}}</h2>
        <h5>{{plan1}}</h5>
      </div>
      <div class="info">
        <h5>1</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
        <ul>
          <li>-Tips Academicos</li>
          <li>-Clases programadas</li>
          <li><a href="#">-Más informacion</a></li>
        </ul>
      </div>
      <div class="body5">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
      </div>
      <div class="pie">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
      </div>
    </div>
    <div class="col-md-4">
      <div class="cabeza">
        <img src="assets/recursos/Group-1798.png" class="" height="10%" alt="Logo">
      </div>
      <div class="subcabeza">
        <h2>{{precio2}}</h2>
        <h5>{{plan2}}</h5>
      </div>
      <div class="info">
        <h5>4</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
        <ul>
          <li>-Tips Academicos</li>
          <li>-Clases programadas</li>
          <li><a href="#">-Más informacion</a></li>
        </ul>
      </div>
      <div class="body5">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
      </div>
      <div class="pie">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
      </div>
    </div>
    <div class="col-md-4">
      <div class="cabeza">
        <img src="assets/recursos/Group-1798.png" class="" height="10%" alt="Logo">
      </div>
      <div class="subcabeza">
        <h2>{{precio3}}</h2>
        <h5>{{plan2}}</h5>
      </div>
      <div class="info">
        <h5>6</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
        <ul>
          <li>-Tips Academicos</li>
          <li>-Clases programadas</li>
          <li><a href="#">-Más informacion</a></li>
        </ul>
      </div>
      <div class="body5">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
      </div>
      <div class="pie">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
      </div>
    </div>
  </div>
</div>
