<div class="my-4">
  <h2 class="text-center" id="funci">Cómo funciona</h2><hr class="linea">
  <h5 class="text-center">Clases en vivo, personalizadas para niños y jovenes <br> de colegio que les permite aprender de manera <br> segura y desde cualquier lugar</h5>
</div>
<div class="">
  <div class="row">
    <div class="col-md-3" id="primera">
      <img src="assets/recursos/Group-860-(2).png" class="card-img-top" alt="Logo">
      <h5 class="text-center">Elige una materia</h5>
    </div>
    <div class="col-md-3" id="primera">
      <img src="assets/recursos/Group-860-(2).png" class="card-img-top" alt="Logo">
      <h5 class="text-center">Selecciona un tutor</h5>
    </div>
    <div class="col-md-3" id="primera">
      <img src="assets/recursos/Group-860-(2).png" class="card-img-top" alt="Logo">
      <h5 class="text-center">Programa tu clase</h5>
    </div>
    <div class="col-md-3" id="primera">
      <img src="assets/recursos/Group-860-(2).png" class="card-img-top" alt="Logo">
      <h5 class="text-center">¡A Aprender!</h5>
    </div>
  </div>
</div>
