<div class="animated fadeIn fast">
  <img src="assets/Images/Group-1800.png" class="animated fadeIn fast card-img-top" alt="Logo">
</div>
<div class="texto1">
  <h1 class="text-center animated fadeIn"> {{titulo1}}</h1>
  <p class="linea1">_________________________</p>
  <h5 class="text-center animated fadeIn fast"> {{titulo2}}</h5>
</div>
<div class="my-4">
  <div class="">
    <h2 class="text-center animated fadeIn fast">Cómo funciona</h2><hr class="linea">
    <h5 class="text-center animated fadeIn fast">Clases en vivo, personalizadas para niños y jovenes <br> de colegio que les permite aprender de manera <br> segura y desde cualquier lugar</h5>
  </div>
</div>
<div class=" animated fadeIn fast">
  <div class="row">
    <div class="col-md-3 animated fadeIn fast" id="primera">
      <img src="assets/recursos/Group-860-(2).png" class="card-img-top" alt="Logo">
      <h5 class="text-center">Elige una materia</h5>
    </div>
    <div class="col-md-3 animated fadeIn fast" id="primera">
      <img src="assets/recursos/Group-860-(2).png" class="card-img-top" alt="Logo">
      <h5 class="text-center">Selecciona un tutor</h5>
    </div>
    <div class="col-md-3 animated fadeIn fast" id="primera">
      <img src="assets/recursos/Group-860-(2).png" class="card-img-top" alt="Logo">
      <h5 class="text-center">Programa tu clase</h5>
    </div>
    <div class="col-md-3 animated fadeIn fast" id="primera">
      <img src="assets/recursos/Group-860-(2).png" class="card-img-top" alt="Logo">
      <h5 class="text-center">¡A Aprender!</h5>
    </div>
  </div>
</div>
<div class=" text-center my-5 animated fadeIn fast">
  <a class="" href="#">
    <img src="assets/Logos/play-button.png" class="" alt="Logo">
    <h3 class="">Ver video</h3>
  </a>
</div>
<div class="row animated fadeIn fast">
  <img src="assets/Images/P5YON-542.jpg" class="card-img-top" alt="Logo">
  <div class="triangulo1">
    <img src="assets/recursos/Group-860.png" class="" alt="Logo">
  </div>
  <div class="subcripci0n">
    <h1 class="text-center porsentaje">{{suscripcion}}</h1>
    <div class="tituSub">
      <h2 class="">Subscríbete</h2>
      <p class="lineaSub">_________________________</p>
      <p class="">y obtén precios especiales</p>
    </div>
    <div class="btnSub">
      <button type="button" class="btn btn-outline-light">Correo electronico</button>
    </div>
    <div class="popupSub">
      <img src="assets/recursos/Path-630.png" class="" width="50%" walt="Logo">
    </div>
    <div class="aceptoSub">
      <p>Me interesa</p>
    </div>
  </div>
</div>
<div class="my-5 an animated fadeIn fast">
  <h2 class="text-center en ">¡Tenemos planes para <br> todos los presupuestos!</h2> <hr class="linea">
  <h5 class="text-center in py-5">Adicional a la calidad y metodologia ágil implementada, <br> puedes elegir el tiempo que necesitan tus hijos:</h5>
  <div class="container animated fadeIn fast">
    <div class="row">
      <div class="col-md-4 animated fadeIn fast">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
        <div class="cabeza1">
          <h2>$25.000</h2>
          <h5>PLAN 1</h5>
        </div>
        <div class="info1">
          <h5>1</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
          <ul>
            <li>Tips Academicos</li>
            <li>Clases programadas</li>
            <li><a href="#">-Más informacion</a></li>
          </ul>
        </div>
        <div class="pie1">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
        </div>
      </div>
      <div class="col-md-4 animated fadeIn fast">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
        <div class="cabeza1">
          <h2>$25.000</h2>
          <h5>PLAN 2</h5>
        </div>
        <div class="info1">
          <h5>4</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
          <ul>
            <li>Tips Academicos</li>
            <li>Clases programadas</li>
            <li><a href="#">-Más informacion</a></li>
          </ul>
        </div>
        <div class="pie1">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
        </div>
      </div>
      <div class="col-md-4 animated fadeIn fast">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
        <div class="cabeza1">
          <h2>$25.000</h2>
          <h5>PLAN 3</h5>
        </div>
        <div class="info1">
          <h5>8</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
          <ul>
            <li>Tips Academicos</li>
            <li>Clases programadas</li>
            <li><a href="#">-Más informacion</a></li>
          </ul>
        </div>
        <div class="pie1">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
        </div>
      </div>
    </div>
  </div>
  <div class="row float-right">
    <div class="col-md-4 animated fadeIn fast">
      <div class="cabeza">
        <img src="assets/recursos/discount.png" class="" height="10%" alt="Logo">
      </div>
      <div class="subcabeza">
        <h2>$25.000</h2>
        <h5>PLAN PROMO</h5>
      </div>
      <div class="info">
        <h5>1</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
        <ul>
          <li>-Tips Academicos</li>
          <li>-Clases programadas</li>
          <li><a href="#">-Más informacion</a></li>
        </ul>
      </div>
      <div class="body5">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
      </div>
      <div class="pie">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
      </div>
    </div>
    <div class="col-md-4 animated fadeIn fast">
      <div class="cabeza">
        <img src="assets/recursos/Group-1798.png" class="" height="10%" alt="Logo">
      </div>
      <div class="subcabeza">
        <h2>$125.000</h2>
        <h5>PLAN PREMIUM</h5>
      </div>
      <div class="info">
        <h5>4</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
        <ul>
          <li>-Tips Academicos</li>
          <li>-Clases programadas</li>
          <li><a href="#">-Más informacion</a></li>
        </ul>
      </div>
      <div class="body5">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
      </div>
      <div class="pie">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
      </div>
    </div>
    <div class="col-md-4 animated fadeIn fast">
      <div class="cabeza">
        <img src="assets/recursos/Group-1798.png" class="" height="10%" alt="Logo">
      </div>
      <div class="subcabeza">
        <h2>$125.000</h2>
        <h5>PLAN PREMIUM</h5>
      </div>
      <div class="info">
        <h5>6</h5><p>HORA <br> DE CLASES ONLINE EN VIVO</p>
        <ul>
          <li>-Tips Academicos</li>
          <li>-Clases programadas</li>
          <li><a href="#">-Más informacion</a></li>
        </ul>
      </div>
      <div class="body5">
        <img src="assets/recursos/Group-1812.png" class="card-img-top" alt="Logo">
      </div>
      <div class="pie">
          <img src="assets/recursos/Group-1811.png" class="" width="50%" alt="Logo">
      </div>
    </div>
  </div>
</div>
<div class="row animated fadeIn fast">
  <img src="assets/Images/PN81CQ-903.jpg" class="card-img-top" alt="Logo">
  <div class="triangulo1">
    <img src="assets/recursos/Group-860.png" class="" alt="Logo">
  </div>
  <div class="subcripci0n">
    <h1 class="text-center porsentaje">{{suscripcion}}</h1>
    <div class="tituSub">
      <h2 class="">Subscríbete</h2>
      <p class="lineaSub">_________________________</p>
      <p class="">y obtén precios especiales</p>
    </div>
    <div class="btnSub">
      <button type="button" class="btn btn-outline-light">Correo electronico</button>
    </div>
    <div class="popupSub">
      <img src="assets/recursos/Path-630.png" class="" width="50%" walt="Logo">
    </div>
    <div class="aceptoSub">
      <p>Me interesa</p>
    </div>
  </div>
</div>
