<div class="my-5">
  <img src="assets/Images/Group-1800.png" id="home" class="img-border card-img-top" alt="Logo">
</div>
<div class="texto1">
  <h1 class="text-center"> {{titulo1}}</h1>
  <p class="linea1">_________________________</p>
  <h5 class="text-center "> {{titulo2}}</h5>
</div>
<app-procesos></app-procesos>
<div class=" text-center my-5">
  <a class="" href="#">
    <img src="assets/Logos/play-button.png" class="" alt="Logo">
    <h3 class="">Ver video</h3>
  </a>
</div>
<app-subcripcion></app-subcripcion>
<app-tarjetas></app-tarjetas>
<div class="row">
  <img src="assets/Images/PN81CQ-903.jpg" class="img-border imgSub card-img-top" alt="Logo">
  <div class="triangulo2">
    <img src="assets/recursos/Group-860.png" class="" alt="Logo">
  </div>
  <div class="subcrip">
    <h1 class="text-center porsentaje">{{suscripcion}}</h1>
    <div class="titSub">
      <h2 class="">Subscríbete</h2>
      <p class="liSub">_________________________</p>
      <p class="">y obtén precios especiales</p>
    </div>
    <div class="btSub">
      <a href="#tarjet" class="btn btn-outline-light">Correo electronico</a>
    </div>
    <div class="popSub">
      <img src="assets/recursos/Path-630.png" class="" width="50%" walt="Logo">
    </div>
    <div class="acepSub">
      <p>Me interesa</p>
    </div>
  </div>
</div>
<app-credibilidad></app-credibilidad>
<app-footer></app-footer>
