<div class="ff text-white footer">
  <div class="row">
    <div class="col-4 informacionPie">
      <p class="">QUIENES SOMOS <br> TERMINOS & CONDICIONES <br> PREGUNTAS FRECUENTES <br> CONTACTENOS</p>
    </div>
    <div class="col-4"></div>
    <div class="col-4 logoYoutube float-right">
      <img src="assets/Logos/Subtraction.png" class="float-right " walt="logoYoutube">
    </div>
    <img src="assets/Images/parque.jpg" height="530px" class="card-img-top imgFooter img-border" walt="Logo">
  </div>
</div>
