<div class="row">
  <img src="assets/Images/P5YON-542.jpg" class="img-border card-img-top" alt="Logo">
  <div class="triangulo1">
    <img src="assets/recursos/Group-860.png" class="" alt="Logo">
  </div>
  <div class="subcripci0n">
    <h1 class="text-center porsentaje">{{suscripcion}}</h1>
    <div class="tituSub">
      <h2 class="">Subscríbete</h2>
      <p class="lineaSub">_________________________</p>
      <p class="">y obtén precios especiales</p>
    </div>
    <div class="btnSub">
      <a href="#tarjet" class="btn btn-outline-light">Correo electronico</a>
    </div>
    <div class="popupSub">
      <img src="assets/recursos/Path-630.png" class="" width="50%" walt="Logo">
    </div>
    <div class="aceptoSub">
      <p>Me interesa</p>
    </div>
  </div>
</div>
