/* sesion de subcripcion */
.triangulo1{
  position: absolute;
  left: 42%;
}
.porsentaje{
  position: absolute;
  font-size: 150px;
  top: 207%;
  left: 42.5%;
  color: white;
}
.tituSub h2{
  position: absolute;
  top: 239%;
  color: white;
  left: 40%;
  font-size: 70px;
}
.tituSub .lineaSub{
  color: white;
  position: absolute;
  top: 244.5%;
  left: 42%;
  font-size: 30px;
}
.tituSub p{
  position: absolute;
  top: 249.5%;
  color: white;
  left: 37.5%;
  font-size: 40px;
}
.btnSub{
  position: absolute;
  top: 258.5%;
  left: 46%;
  padding: -100px;
}
.popupSub{
  position: absolute;
  top: 263.5%;
  left: 47.8%;
  width: 15%;
}
.aceptoSub p{
  position: absolute;
  top: 267%;
  color: #ffffff;
  left: 48.5%;
  font-size: 21px;
}
/* fin sesion de subcripcion */
